In [290]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [291]:
fraud=pd.read_csv(r'G:\insaid job\Fraud.csv')

In [292]:
fraud.head()

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
0,1,PAYMENT,9839.64,C1231006815,170136.0,160296.36,M1979787155,0.0,0.0,0,0
1,1,PAYMENT,1864.28,C1666544295,21249.0,19384.72,M2044282225,0.0,0.0,0,0
2,1,TRANSFER,181.00,C1305486145,181.0,0.00,C553264065,0.0,0.0,1,0
3,1,CASH_OUT,181.00,C840083671,181.0,0.00,C38997010,21182.0,0.0,1,0
4,1,PAYMENT,11668.14,C2048537720,41554.0,29885.86,M1230701703,0.0,0.0,0,0

Looking for univariant and bivariant relationship between variables

In [293]:
fraud.describe()

,step,amount,oldbalanceOrg,newbalanceOrig,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
count,1.048575e+06,1.048575e+06,1.048575e+06,1.048575e+06,1.048575e+06,1.048575e+06,1.048575e+06,1048575.0
mean,2.696617e+01,1.586670e+05,8.740095e+05,8.938089e+05,9.781600e+05,1.114198e+06,1.089097e-03,0.0
std,1.562325e+01,2.649409e+05,2.971751e+06,3.008271e+06,2.296780e+06,2.416593e+06,3.298351e-02,0.0
min,1.000000e+00,1.000000e-01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.0
25%,1.500000e+01,1.214907e+04,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.0
50%,2.000000e+01,7.634333e+04,1.600200e+04,0.000000e+00,1.263772e+05,2.182604e+05,0.000000e+00,0.0
75%,3.900000e+01,2.137619e+05,1.366420e+05,1.746000e+05,9.159235e+05,1.149808e+06,0.000000e+00,0.0
max,9.500000e+01,1.000000e+07,3.890000e+07,3.890000e+07,4.210000e+07,4.220000e+07,1.000000e+00,0.0

In [294]:
fraud.corr()

,step,amount,oldbalanceOrg,newbalanceOrig,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
step,1.000000,-0.025996,-0.006780,-0.007180,-0.002251,-0.019503,0.045030,NaN
amount,-0.025996,1.000000,0.004864,-0.001133,0.215558,0.311936,0.128862,NaN
oldbalanceOrg,-0.006780,0.004864,1.000000,0.999047,0.093305,0.064049,0.003829,NaN
newbalanceOrig,-0.007180,-0.001133,0.999047,1.000000,0.095182,0.063725,-0.009438,NaN
oldbalanceDest,-0.002251,0.215558,0.093305,0.095182,1.000000,0.978403,-0.007552,NaN
newbalanceDest,-0.019503,0.311936,0.064049,0.063725,0.978403,1.000000,-0.000495,NaN
isFraud,0.045030,0.128862,0.003829,-0.009438,-0.007552,-0.000495,1.000000,NaN
isFlaggedFraud,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Looking for missing value

In [295]:
fraud.isnull().sum()

step              0
type              0
amount            0
nameOrig          0
oldbalanceOrg     0
newbalanceOrig    0
nameDest          0
oldbalanceDest    0
newbalanceDest    0
isFraud           0
isFlaggedFraud    0
dtype: int64

There is zero missing values found in this dataset.

In [296]:
fraud.isFraud.value_counts()

0    1047433
1       1142
Name: isFraud, dtype: int64

In [297]:
fraud.isFlaggedFraud.value_counts()

0    1048575
Name: isFlaggedFraud, dtype: int64

In [298]:
fraud.type.value_counts()

CASH_OUT    373641
PAYMENT     353873
CASH_IN     227130
TRANSFER     86753
DEBIT         7178
Name: type, dtype: int64

looking for fraud according to type of transaction.

In [299]:
transfer_1=fraud.query('type=="TRANSFER" and isFraud==1')
transfer_1.isFraud.value_counts()

1    564
Name: isFraud, dtype: int64

In [300]:
transfer_0=fraud.query('type=="TRANSFER" and isFraud==0')
transfer_0.isFraud.value_counts()

0    86189
Name: isFraud, dtype: int64

In [301]:
cash_out_1=fraud.query('type=="CASH_OUT" and isFraud==1')
cash_out_1.isFraud.value_counts()

1    578
Name: isFraud, dtype: int64

In [302]:
cash_out_0=fraud.query('type=="CASH_OUT" and isFraud==0')
cash_out_0.isFraud.value_counts()

0    373063
Name: isFraud, dtype: int64

In [303]:
payment_1=fraud.query('type=="PAYMENT" and isFraud==1')
payment_1.isFraud.value_counts()

Series([], Name: isFraud, dtype: int64)

In [304]:
payment_0=fraud.query('type=="PAYMENT" and isFraud==0')
payment_0.isFraud.value_counts()

0    353873
Name: isFraud, dtype: int64

In [305]:
cash_in_1=fraud.query('type=="CASH_IN" and isFraud==1')
cash_in_1.isFraud.value_counts()

Series([], Name: isFraud, dtype: int64)

In [306]:
cash_in_0=fraud.query('type=="CASH_IN" and isFraud==0')
cash_in_0.isFraud.value_counts()

0    227130
Name: isFraud, dtype: int64

In [307]:
debt_1=fraud.query('type=="DEBT" and isFraud==1')
debt_1.isFraud.value_counts()

Series([], Name: isFraud, dtype: int64)

In [308]:
debt_0=fraud.query('type=="DEBT" and isFraud==0')
debt_0.isFraud.value_counts()

Series([], Name: isFraud, dtype: int64)

AS we can see fraud only happened during cash out flow and transfer of a cash.

I will drop all data that has type of transaction Payment,cash_in and debt because there is zero fraud found in those transaction.

In [309]:
fraud.type.value_counts()

CASH_OUT    373641
PAYMENT     353873
CASH_IN     227130
TRANSFER     86753
DEBIT         7178
Name: type, dtype: int64

In [310]:
fraud_payment=fraud.drop(fraud[fraud.type.str.contains("PAYMENT")==True].index)

new_fraud=fraud.drop(fraud[fraud.type.str.contains('DEBIT')==True].index)
new_fraud=fraud.drop(fraud[fraud.type.str.contains('CASH_IN')==True].index)

In [311]:
fraud_debit=fraud_payment.drop(fraud_payment[fraud_payment.type.str.contains('DEBIT')==True].index)

In [312]:

fraud_cash_in=fraud_debit.drop(fraud_debit[fraud_debit.type.str.contains('CASH_IN')==True].index)

In [313]:
fraud_cash_in.head()

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
2,1,TRANSFER,181.00,C1305486145,181.0,0.0,C553264065,0.0,0.00,1,0
3,1,CASH_OUT,181.00,C840083671,181.0,0.0,C38997010,21182.0,0.00,1,0
15,1,CASH_OUT,229133.94,C905080434,15325.0,0.0,C476402209,5083.0,51513.44,0,0
19,1,TRANSFER,215310.30,C1670993182,705.0,0.0,C1100439041,22425.0,0.00,0,0
24,1,TRANSFER,311685.89,C1984094095,10835.0,0.0,C932583850,6267.0,2719172.89,0,0

Dropped columns : FLAGGED FRAUD COLUMN, nameOrig and nameDest BECAUSE IT IS OF NO USE.

In [314]:
new_fraud1=fraud_cash_in.drop(columns=['isFlaggedFraud','nameOrig','nameDest'],axis=1)

In [315]:
new_fraud1.head()

,step,type,amount,oldbalanceOrg,newbalanceOrig,oldbalanceDest,newbalanceDest,isFraud
2,1,TRANSFER,181.00,181.0,0.0,0.0,0.00,1
3,1,CASH_OUT,181.00,181.0,0.0,21182.0,0.00,1
15,1,CASH_OUT,229133.94,15325.0,0.0,5083.0,51513.44,0
19,1,TRANSFER,215310.30,705.0,0.0,22425.0,0.00,0
24,1,TRANSFER,311685.89,10835.0,0.0,6267.0,2719172.89,0

Performing feature engineering:
converting Type column from string to numerical(nominal data).

In [316]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()

In [317]:
new_fraud1['type']=le.fit_transform(new_fraud1.type)

In [318]:
new_fraud1.head()

,step,type,amount,oldbalanceOrg,newbalanceOrig,oldbalanceDest,newbalanceDest,isFraud
2,1,1,181.00,181.0,0.0,0.0,0.00,1
3,1,0,181.00,181.0,0.0,21182.0,0.00,1
15,1,0,229133.94,15325.0,0.0,5083.0,51513.44,0
19,1,1,215310.30,705.0,0.0,22425.0,0.00,0
24,1,1,311685.89,10835.0,0.0,6267.0,2719172.89,0

In [319]:
new_fraud1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 460394 entries, 2 to 1048570
Data columns (total 8 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   step            460394 non-null  int64
 1   type            460394 non-null  int32
 2   amount          460394 non-null  float64
 3   oldbalanceOrg   460394 non-null  float64
 4   newbalanceOrig  460394 non-null  float64
 5   oldbalanceDest  460394 non-null  float64
 6   newbalanceDest  460394 non-null  float64
 7   isFraud         460394 non-null  int64
dtypes: float64(5), int32(1), int64(2)
memory usage: 29.9 MB

Coverting float to integer

In [320]:
columns=['amount','oldbalanceOrg','newbalanceOrig','oldbalanceDest','newbalanceDest']

In [321]:
for x in columns:
    new_fraud1[x]=new_fraud1[x].astype(int).round()

In [322]:
new_fraud1.head()

,step,type,amount,oldbalanceOrg,newbalanceOrig,oldbalanceDest,newbalanceDest,isFraud
2,1,1,181,181,0,0,0,1
3,1,0,181,181,0,21182,0,1
15,1,0,229133,15325,0,5083,51513,0
19,1,1,215310,705,0,22425,0,0
24,1,1,311685,10835,0,6267,2719172,0

In type column: 1 is transfer, 0 is cash_out

In [323]:
new_fraud1.corr()

,step,type,amount,oldbalanceOrg,newbalanceOrig,oldbalanceDest,newbalanceDest,isFraud
step,1.000000,0.013561,-0.028454,-0.033900,-0.058950,0.003239,-0.022105,0.072011
type,0.013561,1.000000,0.503516,0.010168,-0.031066,0.086045,0.147178,0.038949
amount,-0.028454,0.503516,1.000000,0.191417,-0.032808,0.124003,0.243139,0.131692
oldbalanceOrg,-0.033900,0.010168,0.191417,1.000000,0.796324,-0.023741,-0.009537,0.258291
newbalanceOrig,-0.058950,-0.031066,-0.032808,0.796324,1.000000,-0.013447,-0.016849,0.003219
oldbalanceDest,0.003239,0.086045,0.124003,-0.023741,-0.013447,1.000000,0.976217,-0.019153
newbalanceDest,-0.022105,0.147178,0.243139,-0.009537,-0.016849,0.976217,1.000000,-0.013288
isFraud,0.072011,0.038949,0.131692,0.258291,0.003219,-0.019153,-0.013288,1.000000

In [324]:
new_fraud1.head(100)

,step,type,amount,oldbalanceOrg,newbalanceOrig,oldbalanceDest,newbalanceDest,isFraud
2,1,1,181,181,0,0,0,1
3,1,0,181,181,0,21182,0,1
15,1,0,229133,15325,0,5083,51513,0
19,1,1,215310,705,0,22425,0,0
24,1,1,311685,10835,0,6267,2719172,0
...,...,...,...,...,...,...,...,...
195,1,0,210370,0,0,1442298,22190,0
196,1,0,36437,0,0,154606,1363368,0
197,1,0,82691,0,0,657983,6453430,0
198,1,0,338767,0,0,544481,3461666,0
199,1,0,187728,0,0,394124,2107965,0

In [325]:
new_fraud1.isFraud.value_counts()

0    459252
1      1142
Name: isFraud, dtype: int64

In [326]:
x=new_fraud1.drop('isFraud',axis=1)
y=new_fraud1.isFraud

Dividing dataset into train and test

In [327]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.33,random_state=4)

In [328]:
print(x_train.shape,y_train.shape)

(308463, 7) (308463,)

Standardizing dataset

In [329]:
from sklearn.preprocessing import StandardScaler
standard=StandardScaler()
x_train=standard.fit_transform(x_train)
x_test=standard.transform(x_test)

As we have imbalance dataset. I will use imblearn to make it balanced dataset.

In [330]:
from imblearn.over_sampling import RandomOverSampler

In [331]:
over_sample=RandomOverSampler(sampling_strategy=0.5)

In [332]:
x_train_over,y_train_over=over_sample.fit_resample(x_train,y_train)
x_test_over,y_test_over=over_sample.fit_resample(x_test,y_test)

In [333]:
print(x_train_over.shape,y_train_over.shape)

(461545, 7) (461545,)

Building model with help of RandomForestClassifier

In [334]:
from sklearn.ensemble import RandomForestClassifier

I have done hyperparameter tuning manually because I have 3rd generation laptop. I have manually tuned max_depth: [2,5,10] and n_estimators:[50,100,150,200]. For 2 I get underfitted model, for 10 I get overfitting model and for 3 I received  95 % accuracy that is good. n_estimators=100 given best accuracy.

In [335]:
rf=RandomForestClassifier(n_estimators=100,criterion='gini',max_depth=5,min_samples_split=2,min_samples_leaf=1,max_features="auto",n_jobs=5,random_state=13)

In [336]:
model=rf.fit(x_train_over,y_train_over)

In [337]:
predict_y=rf.predict(x_train_over)

In [338]:
from sklearn.metrics import confusion_matrix,classification_report,accuracy_score

In [339]:
accuracy_score(y_train_over,predict_y)

0.9570052757585934

In [340]:
classification=classification_report(y_train_over,predict_y)
print(classification)

              precision    recall  f1-score   support

           0       0.94      1.00      0.97    307697
           1       0.99      0.88      0.93    153848

    accuracy                           0.96    461545
   macro avg       0.97      0.94      0.95    461545
weighted avg       0.96      0.96      0.96    461545

In [341]:
confusion_matrix(y_train_over,predict_y)

array([[306634,   1063],
       [ 18781, 135067]], dtype=int64)

Testing data

In [342]:
predict_y_test=rf.predict(x_test_over)

In [343]:
accuracy_score(y_test_over,predict_y_test)

0.953011454612637

In [344]:
classification=classification_report(y_test_over,predict_y_test)
print(classification)

              precision    recall  f1-score   support

           0       0.94      1.00      0.97    151555
           1       0.99      0.87      0.92     75777

    accuracy                           0.95    227332
   macro avg       0.96      0.93      0.95    227332
weighted avg       0.96      0.95      0.95    227332

In [345]:
confusion_matrix(y_train_over,predict_y)

array([[306634,   1063],
       [ 18781, 135067]], dtype=int64)

In [346]:
print('recall(TP/TP+FN):',133969/(133969+19879))

recall(TP/TP+FN): 0.8707880505433935

In [347]:
print('precision(TP/TP+FP):',133969/(957+133969))

precision(TP/TP+FP): 0.9929072232186532

In [348]:
print('accuracy:',(306740+133969)/(306740+19879+133969+957))

accuracy: 0.9548559728737176

In testing phase i have received 95% accuracy. Model has showed recall(total no. of correct prediction by model / total no. of turely fraud transaction): 0.87 and precision(total no. of correct prediction by model / total no. of model prediction that transaction is fraud) : 0.99. Model has done less false positive predictions(type 1 error ) and few false negative predictions(type 2 error). This is pretty good.

Building model with help of xgboostclassifier

In [349]:
from xgboost import XGBClassifier

I have manually tuned max_depth: [2,5,10] and n_estimators:[20,50,100]. For 2 I get underfitted model, for 10 I get overfitting model and for 3 I received  95 % accuracy that is good. n_estimators=50 given best accuracy.

In [350]:
xgb=XGBClassifier(n_estimators=50,objective='binary:logistic',colsample_bytree = 0.3,max_depth=5,max_leaves=0,learning_rate=0.1,tree_method="hist",n_jobs=5,random_state=13,booster='gbtree',reg_lambda=10)

In [351]:
model_xgb=xgb.fit(x_train_over,y_train_over)

In [352]:
y_predict_xgb=xgb.predict(x_train_over)

In [353]:
accuracy_score(y_predict_xgb,y_train_over)

0.9651648268316199

Testing dataset

In [354]:
y_test_predict_xgb=xgb.predict(x_test_over)

In [355]:
accuracy_score(y_test_over,y_test_predict_xgb)

0.9551361005049883

I got almost same accuracy in both model i.e 0.95

Thank you for giving me opportunity. i have not dont much visualization because my laptop(3rd generation) is keep hanging otherwise i would have done much better. WOULD HAVE USED GRIDSERACHcv or cross validation.